body{
  background-color: rgb(167, 167, 214);
  font-family: Arial, sans-serif;
    line-height: 1.6;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}


h1 {
  color:aliceblue;
    font-size: 3rem;
      /* Adjust font size */
      font-family: 'Arial', sans-serif;
      /* Specify font family */
      text-align: center;
      /* Center align text */
      margin-top: 50px;
      /* Add top margin */
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      /* Add subtle text shadow */
}

  .image-container {
    text-align: center;
    /* Center the image horizontally */
  }

  .image-container img {
    max-width: 110%;
    /* Ensure the image doesn't exceed its container */
    min-width: 110%;
    height: auto;
    /* Maintain aspect ratio */
  }

.menu a {
  color: rgb(253, 250, 250);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 12px;
  font-style: oblique;
  font-weight: bolder;
  position: relative;
  /* Maintain relative positioning */
  z-index: 1;
  /* Ensure text appears above background image */
  padding: 1px 20px;
  /* Adjust padding as needed */
  border: 2px solid #fff;
  /* Add border to menu items */
  border-radius: 5px;
  /* Optional: Add rounded corners */
  margin: 0 1px; 
    background-color: rgba(0, 0, 0, .5);
  /* Example: semi-transparent black */





}

.menu {
  display: flex;
  justify-content: center;
  background-image: url(Mary_Elliott_Cooking-removebg-copy2.png);
  background-size: cover;
  /* Adjust as needed */
  background-position: center;
  /* Adjust as needed */
  background-repeat: no-repeat;
  /* height: 0; */
  padding-top: 20%;
  /* Adjust this value to maintain aspect ratio */
  position: relative;
  /* Prevent image from repeating */
  background-color: #F68924;
  border: 1px solid #272727;
  /* Add a 1px solid border */
  border-radius: 5px;
  /* Optional: Add rounded corners */
  overflow: hidden;
  align-items: flex-start;
  /* Align items at the top */

}



.menu a:hover {
  background-color: #ddd;
  color: #F68924;
}