body{
  background-color: rgb(112, 191, 220);
  /* background-color: rgb(124, 124, 168); */
  font-family: Arial, sans-serif;
  line-height: 1.6;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
        color: rgb(239, 225, 225);
          /* Set text color to white */
  text-shadow:
  -.5px -.5px 0 black,
  .5px -.5px 0 black,
  -.5px .5px 0 black,
  .5px .5px 0 black;
  /* Shadow to create the outline effect */
}

h1, h2, h3, h4, h5, h6 {

  color: #be4d25;
  /* Replace with your desired color */
}
h1 {
  /* color:aliceblue; */
    font-size: 3rem;
      /* Adjust font size */
      font-family: 'Arial', sans-serif;
      /* Specify font family */
      text-align: center;
      /* Center align text */
      margin-top: 50px;
      /* Add top margin */
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
      /* Add subtle text shadow */
}

  .image-container img {
      position: relative;
    text-align: left;
    /* Center the image horizontally */
    max-width: 110%;
    /* Ensure the image doesn't exceed its container */
    /* min-width: 110%; */
    height: auto;
    /* Maintain aspect ratio */
  }

    .photo_credit {

      box-sizing: border-box;
      text-decoration: none;
      /* Removes underline from the link */
      color: rgb(251, 248, 248);
      font-size: 12px;
    }



.menu a {
  color: rgb(253, 250, 250);
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
  font-style: oblique;
  font-weight: bolder;
  position: relative;
  /* Maintain relative positioning */
  z-index: 1;
  /* Ensure text appears above background image */
  padding: 10px 60px 10px 60px;
  /* Adjusts the padding of the menu titles inside boxes */
  border: 4px solid #fff;
  /* Add border to menu items */
  border-radius: 5px;
  /* Optional: Add rounded corners */
  margin: 0 1px; 
  background-color: rgba(0, 0, 0, .5);
}

.menu {
  display: flex;
  justify-content: center;
  background-image: url(Mary_Elliott_Cooking-removebg-copy2.png);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 37%;
  position: relative;
  /* Prevent image from repeating */
  /* background-color: #f9aa60; */ /*Took out for now, may put back in later */
  /* border: 1px solid #272727; */ /*Took out for now, may put back in later */
  /* border-radius: 5px; Took out for now, may put back in later */
  /* Optional: Add rounded corners */ /*Took out for now, may put back in later */
  overflow: hidden;
  align-items: flex-start;
}

.menu a:hover {
  background-color: #ddd;
  color: #F68924;
}